* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  background: #191919;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
}

.link a:hover,
.link.active a {
  opacity: 1;
}

.home-section {
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.hero-heading {
  color: #fff;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
  z-index: 10;
  text-align: center;
  width: 13ch;
  animation: typing 4s steps(13), blink .5s step-end infinite alternate;;
  white-space: nowrap;
  border-right: 3px solid;
  overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
      border-color: transparent
    }
  }

.hero-info {
  color: #fff;
  font-weight: 300;
  z-index: 10;
  text-align: center;
  font-size: 30px;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.project-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  transition: 1s;
  opacity: 0;
}

.project-heading {
  font-size: 100px;
  background: #252525;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #1a1a1a;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 100px;
}

.project-card {
  height: 400px;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}

.project-title {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}

.project-card:hover .project-img {
  filter: blur(20px);
}

.project-card:hover .project-content {
  opacity: 1;
}

/* about-section */

.about-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 0;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 40px;
}

.about-img-container {
  position: relative;
}

.about-info {
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 40px;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: capitalize;
}

.skill-container {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.skill-card {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #464646;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.skill {
  font-size: 2rem;
  color: #464646;
  line-height: 200px;
}

.skill-card:hover {
  background: var(--bg);
}

.skill-card:hover .skill {
  color: #fff;
}

.skill-card.large {
  grid-column: 2 span;
}

.contact-section {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  padding: 100px 150px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}

::placeholder {
  color: #fff;
}

#msg {
  height: 280px;
  resize: none;
  font-family: sans-serif;
}

.form-submit-btn {
  background: #ff4f4f;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* tablet view */

@media (max-width: 996px) {
  html {
    font-size: 14px;
  }

  /* toggle btn */
  .toggle-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10vw;
    top: 5vh;
    cursor: pointer;
  }
  .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 30%;
    transition: 0.5s;
  }
  .toggle-btn span:nth-child(2) {
    top: 70%;
  }
  .toggle-btn.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .toggle-btn.active span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  /* links */
  .link-group {
    position: absolute;
    top: 60px;
    background: #1d1d1d;
    width: 100%;
    left: 0;
    padding: 0 10vw;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
  }
  .link-group.show {
    opacity: 1;
    pointer-events: all;
  }
  .link {
    margin-left: auto;
    text-align: center;
    display: block;
    height: 50px;
  }

  .hero-heading {
    font-size: 80px;
  }
}

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}
